*
{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.container
{
    position: relative;
    width: 100%;
}
.navbar
{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}
.logo, .main-menu, .info
{
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
}
.logo>a
{
    height: 100%;
    width: 50%;
}
.logo>a>img
{
   width: 100%;
}
.main-menu>ul
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100%;
    justify-items: center;
}
.main-menu>ul>li
{
    height: 100%;
    width: fit-content;
    cursor: pointer;
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    align-items: center;
}
.main-menu>ul>li>a
{
    text-decoration: none;
    color: #443178;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}
.main-menu>ul>li:nth-child(8) a>i
{
    padding: 15px;
    background: #443178;
    color: white;
    border-radius: 50%;
}
.main-menu>ul>li::before
{
    content: "";
    background: #7BEFB1;
    height: 10px;
    top: -50%;
    left: 0;
    position: absolute;
    width: 0%;
    
}
.main-menu>ul>li:hover::before
{
    width: 100%;
    transition: all 1s;
}
.main-menu>ul> .active::before
{
    content: "";
    background: #7BEFB1;
    width: 100%;
    height: 10px;
    top: -50%;
    left: 0;
}
.main-menu>ul>li:hover .dropdown
{
    visibility: visible;
}
.dropdown
{
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 230px;
    background: #443178;
    padding: 10px 0;
    visibility: hidden;
    z-index: 2;
}
.dropdown>li
{
    border-left: 10px solid #7BEFB1;
    padding: 10px 10px 10px 40px;
    transform: translateX(-4.5%);
}
.dropdown>li:hover
{
    transform: translateX(0%);
    transition: all .5s;
}
.dropdown>li>a
{
    
    color: white;
    text-decoration: none;
}
.dropdown>li:hover a
{
    color: #7BEFB1;
    transition: color .3s;
}
.info
{
    display: grid;
    grid-template-columns: 30% 70%;
    background: #7BEFB1;
    color: #443178;
}
.info>i
{
    font-size: 3vw;
    font-weight: 300;
}
.info>p>span
{
    font-size: 1.5vw;
    font-weight: 600;
}
.info:hover
{
    background: #443178;
    transition:all .5s;
}
.info:hover i
{
    
    color: #7BEFB1; 
    
}
.info:hover p
{
    color: lightgray;
}
.info:hover p>span
{
    color: white;
}
/* ----------- */

/* page-info css */

.page-info
{
    width: 100%;
    height: 15vh;
    background: #443178;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}
.page-info>h1
{
    color: #7BEFB1;
}
.page-info>ul
{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.page-info>ul>li
{
    color: lightgray;
}
.page-info>ul>li:nth-child(1)
{
    color: white;
}
/* --------- */

/* mission css */

.mission
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 45% 45%;
    grid-template-rows: 70%;
    align-content: center;
    justify-content: space-evenly;
}
.mission-img, .mission-left, .mission-right
{
    width: 100%;
    height: 90%;
}
.mission-img
{
    padding-top: 50%;
}
.mission-img>img
{
    width: 90%;
    transform: rotate(-90deg);
}
.mission-left
{
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mission-left>h1
{
    font-size: 2.3em;
    color: #443178;
}
.mission-left>p
{
    color: #666666;
    font-size: 1.2em;
    line-height: 1.5;
}

.mission-left>ul
{
    color: #443178;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.mission-left>ul>li
{
    font-weight: 700;
}
.mission-left>ul>li>i
{
    cursor: pointer;
    color: #7BEFB1;
}
.mission-left>ul>li>i:hover
{
    transform: scale(1.2);
    transition: all .5s;
}
.mission-right>img
{
    width: 90%;
    height: 100%;
    border: 5px solid white;
    box-shadow: 35px 35px 0px -10px #7befb1;
}
/* ------------ */

/* solution css */

.solution
{
    width: 100%;
    height: 150vh;
}
.solution-inner
{
    width: 100%;
    height: 70%;
    background-image: url("images/bg5.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}
.solution-inner-detail
{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.solution-inner-detail>h2
{
    font-size: 2.2em;
    font-weight: 300;
    text-transform: uppercase;
    color: #443178;
}
.solution-inner-detail>h1
{
    font-size: 5.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #443178;
}
.solution-inner-detail>a
{
    padding: 15px 10px;
    background: white;
    color: #443178;
    text-decoration: none;
    position: relative;
    z-index: 2;
}
.solution-inner-detail>a::before
{
    content: "Get a Free Quote >";
    text-align: center;
    line-height: 3.5;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #443178;
    color: white;
    overflow: hidden;
}
.solution-inner-detail>a:hover::before
{
    width: 100%;
    transition: all .5s;
}
.solution-inner-detail>a:hover a
{
    color: white;
    transition: all .5s;
}
.solution-box
{
    position: absolute;
    top: 86%;
    width: 18%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.solution-box-1
{
    background: white;
    left: 10%;
}
.solution-box-2
{
    background: #443178;
    left: 30%;
}
.solution-box-2>h1>span
{
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    opacity: 1 !important;
}
.solution-box-2>h1>i
{
    font-style: normal;
    color: #7BEFB1;
    opacity: .8;
    font-size: 2em;
    font-weight: 200;
}
.solution-box-2 .line
{
    background: #7BEFB1;
}
.solution-box-2>h5
{
    color: #7BEFB1;
    font-weight: 600;
    font-size: 1.3em;
}
.solution-box-3
{
    background: white;
    left: 50%;
}
.solution-box-3>h1>span
{
    font-size: 2.5em;
    font-weight: 400;
    color: #443178;
    opacity: 1 !important;
}
.solution-box-3>h1>i
{
    font-style: normal;
    color: #443178;
    opacity: .8;
    font-size: 2em;
    font-weight: 200;
}
.solution-box-3>h5
{
    color: #443178;
    font-weight: 600;
    font-size: 1.3em;
}
.solution-box-4
{
    background: #443178;
    left: 70%;
}
.solution-box-4>h1>span
{
    color: white;
    font-size: 2.5em;
    font-weight: 500;
}
.solution-box-4>h1>sup
{
    opacity: .8;
    color: #7BEFB1;
    font-size: 1.5em;
    font-weight: 300;
}
.solution-box-4>h5
{
    color: #7BEFB1;
    font-weight: 600;
    font-size: 1.3em;
}
.solution-box-4 .line
{
    background: #7BEFB1;
}
.solution-box-1>h1>span
{
    color: #443178;
    font-size: 2.5em;
    font-weight: 500;
}
.solution-box-1>h1>sup
{
    opacity: .3;
    color: #443178;
    font-size: 1.5em;
    font-weight: 300;
}
.solution-box-1>h5
{
    color: #443178;
    font-weight: 600;
    font-size: 1.3em;
}
.line
{
    width: 80%;
    height: 1px;
    background: #443178;
    border: none;
}
/* ------------- */

/* progress css */

.progress
{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 80%;
    align-items: center;
    justify-content: space-evenly;
}
.progress-left, .progress-right
{
    width: 100%;
    height: 100%;
}
.progress-left
{
    display: grid;
    grid-template-rows: 20% 80%;

}
.progress-left-head, .progress-left-inner
{
    width: 100%;
    height: 100%;
}
.progress-left-head
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.progress-left-head>span
{
    width: 10px;
    height: 10px;
    background: #7BEFB1;
    transform: rotate(45deg);
}
.progress-left-head>h3
{
    color: #443178;
}
.progress-left-inner
{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 70%;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.progress-box
{
    text-align: center;
}
.progress-box>h4
{
    font-size: 1.3em;
    color: #443178;
}
.circle-wrap {
    margin: 0px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #443178;
  }
  
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(160deg);
  }
  
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(160deg);
    }
  }
  .circle-wrap .inside-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #fff;
    line-height: 140px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 100;
    font-weight: 500;
    font-size: 2.5em;
  }
  .circle-wrap-2 {
    margin: 0px auto;
    width: 150px;
    height: 150px;
    background: #c0ffb3;
    border-radius: 50%;
  }
  
  .circle-wrap-2 .circle .mask,
  .circle-wrap-2 .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap-2 .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
.circle-wrap-2 .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #7BEFB1;
  }
  
 .circle-wrap-2 .circle .mask.full,
  .circle-wrap-2 .circle .fill {
    animation: fill-2 ease-in-out 3s;
    transform: rotate(60deg);
  }
  
  @keyframes fill-2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(60deg);
    }
  }
 .circle-wrap-2 .inside-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #fff;
    line-height: 140px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 100;
    font-weight: 500;
    font-size: 2.5em;
  }

  .circle-wrap-3 {
    margin: 0px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
  }
  
  .circle-wrap-3 .circle .mask,
  .circle-wrap-3 .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap-3 .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
.circle-wrap-3 .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #443178;
  }
  
 .circle-wrap-3 .circle .mask.full,
  .circle-wrap-3 .circle .fill {
    animation: fill-3 ease-in-out 3s;
    transform: rotate(178deg);
  }
  
  @keyframes fill-3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(178deg);
    }
  }
 .circle-wrap-3 .inside-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #fff;
    line-height: 140px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 100;
    font-weight: 500;
    font-size: 2.5em;
  }
  .progress-right
  {
      display: grid;
      grid-template-rows: 20% 80%;
  
  }
  .progress-right-head, .progress-right-inner
  {
      width: 100%;
      height: 100%;
  }
  .progress-right-head
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.progress-right-head>span
{
    width: 10px;
    height: 10px;
    background: #7BEFB1;
    transform: rotate(45deg);
}
.progress-right-head>h3
{
    color: #443178;
}
.progress-right-inner
{
    display: grid;
    grid-template-rows: 25% 25% 25%;
    align-content: space-evenly;
}
.progress-right-bar
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.progress-right-bar>h4
{
    color: gray;
    font-size: 1.2em;
    font-weight: 400;
}
.bar-back
{
    position: relative;
    width: 100%;
    height: 10px;
    background: lightgray;
}
.bar-box-1
{
    position: absolute;
    left: 0;
    top: -110%;
    background: #443178;
    padding: 3px 5px;
    color: white;
    animation: bar-1 2s ease-in-out 1 forwards;
}
@keyframes bar-1
{
    0%{left: 0;}
    100%{left: 85%;}
}
.bar-box-2
{
    position: absolute;
    left: 0;
    top: -110%;
    background: #443178;
    padding: 3px 5px;
    color: white;
    animation: bar-2 2s ease-in-out 1 forwards;
}
@keyframes bar-2
{
    0%{left: 0;}
    100%{left: 81%;}
}
.bar-box-3
{
    position: absolute;
    left: 0;
    top: -110%;
    background: #443178;
    padding: 3px 5px;
    color: white;
    animation: bar-3 2s ease-in-out 1 forwards;
}
@keyframes bar-3
{
    0%{left: 0;}
    100%{left: 90%;}
}


.agents
{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 5% 12% 80%;
    grid-template-rows: 85%;
    align-content: center;
    justify-content: space-evenly;
}
.agents-img, .agents-left, .agents-right
{
    width: 100%;
    height: 100%;
}
.agents-img
{
    padding-top: 20%;
}
.agents-img
{
    padding-top: 10%;
}
.agents-img>img
{
    width: 90%;
    transform: rotate(-90deg);
}
.agents-left
{
    padding-top: 5%;
   display: grid;
   grid-template-rows: 15% 20%;
}
.agents-left>h2
{
   color: #443178;
}
.agents-left>p
{
    font-size: .9em;
   color: gray;
}
.agents-right
{
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: 80%;
    justify-content: space-evenly;
    align-content: center;
}
.agents-right-box
{
    position: relative;
    background: #443178;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 28px 0px -20px #7befb1;
}
.agents-right-box>img
{
    border: 3px solid white;
    width: 100%;
}

.agents-right-box>h3
{
    color: white;
}
.agents-right-box>p
{
    color: #aaaaaa;
}
.agents-right-box>ul
{
    z-index: 1;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 15%;
    opacity: 0;
}
.agents-right-box>ul>li>a>i
{
    color: white;
    background: #443178;
    text-align: center;
    line-height: 1.5;
    width: 25px;
    height: 25px;
}
.agents-right-box>ul>li>a>i:hover
{
    background: white;
    color: #443178;
    transition: all .5s;
}

.agents-right-box:hover ul
{
    opacity: 1;
    transition: all .5s;
}
.agents-right-box:hover 
{
    visibility: visible;
}
.layer
{
    width: 82%;
    height: 58%;
    position: absolute;
    top: 10%;
    left: 9%;
    background:#443178;
    opacity: 0;
    z-index: 0;
}
.agents-right-box:hover .layer
{
    opacity: .5;
}
.agents-right-box:nth-child(2)
{
    transform: scale(1.1);
}
/* -------- */

/* contact */

.contact
{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 35%;
    align-content: center;
    justify-content: center;
    
}
.contact-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 45% 40%;
    background: #443178;
    background-image: url(https://xtratheme.com/insurance/wp-content/uploads/sites/104/2019/12/bgcta.png),linear-gradient(90deg,#443178,#443178);
    background-repeat: no-repeat;
    background-position: right top;
    box-shadow: 0px 28px 0px -20px #7befb1;
}
.contact-inner:hover
{
    transform: scale(1.05);
    transition: all .5s;
}
.contact-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-icon>i
{
    padding: 25px;
    background: #7BEFB1;
    color: #443178;
    font-size: 2em;
    border-radius: 50%;
}
.contact-head
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.contact-head>p
{
    font-size: 1.1em;
}
.contact-no
{
    padding-left: 20%;
    display: flex;
    align-items: center;
}
.contact-no>p
{
    font-size: 2em;
    color: white;
}
.contact-inner>img
{
    width: 5%;
    position: absolute;
    top: 50%;
    left: -2%;
    transform: rotate(90deg);
}
/* ----------- */

/* comments css */

.comments
{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.comments>h1
{
    font-size: 2.5em;
    color: #443178;
}
.comments>p
{
    font-size: 1.2em;
    color: #666666;
}
/* ----------- */

/* carousel css*/

.carousel
{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: 60%;
    align-content: center;
    justify-content: space-evenly;
}
.carousel-box
{
    background: #E0E0E0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0px 32px 0px -20px #666666;
}
.carousel-box>img
{
    position: absolute;
    top: -20%;
    left: 35%;
    border: 10px solid white;
}
.carousel-box>p>span
{
    color: #443178;
    font-size: 1.5em;
    font-weight: 600;
}
.carousel-box>p
{
    color: #666666;
}
.carousel-box:nth-child(2)
{
    background: #7befb1;
    transform: scale(1.1);
    box-shadow: 0px 32px 0px -20px #443178;
}
/* ---------- */

/* partners css */

.partners
{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 5% 20% 70%;
    grid-template-rows: 80%;
    justify-content: space-evenly;
}
.partners-img, .partners-left, .partners-right
{
    width: 100%;
    height: 100%;
}
.partners-img>img
{
    width: 90%;
    transform: rotate(-90deg);
}
.partners-left>h2
{
    color: #443178;
}
.partners-left>p
{
    color: #666666;
}
.partners-right
{
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: 40% 40%;
    align-content: space-around;
    justify-content: space-evenly;
}
.partners-right-box
{
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.08);
}
.partners-right-box>img
{
    width: 100%;
}
.partners-right-box:hover
{
    background: #443178;
    transition: all .5s;
}

/* ------------ */

/* footer css */

.footer
{
    width:100%;
    height:40vh;
    display: grid;
    grid-template-rows: 50% 50%;
}
.footer-top
{
    background: #7BEFB1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-top>img
{
   width: 15%;
   height: 40%;
}
.footer-top>ul
{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.footer-top>ul>li
{
    padding: 10px 10px;
}
.footer-top>ul>li:hover
{
    background: #443178;
    transition: all .5s;
}
.footer-top>ul>li>a
{
    text-decoration: none;
    color: #443178;
    font-weight: 500;
}
.footer-top>ul>li:hover a
{
    color: white;
    transition: all .5s;
}
.footer-bottom
{
    background: #443178;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.footer-bottom>p
{
    color: white;
}
.footer-bottom>ul
{
    display: flex;
    justify-content: space-around;
    width: 15%;
}
.footer-bottom>ul>li>a>i
{
    text-align: center;
    line-height: 2.3;
    color: white;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    border: 2px solid #7BEFB1;
    border-radius: 50%;
}
.footer-bottom>ul>li>a>i:hover
{
    background: #7BEFB1;
    transition: all .5s;
    color: #443178;
}

