*
{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.container
{
    position: relative;
    width: 100%;
}
.navbar
{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}
.logo, .main-menu, .info
{
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
}
.logo>a
{
    height: 100%;
    width: 50%;
}
.logo>a>img
{
   width: 100%;
}
.main-menu>ul
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100%;
    justify-items: center;
}
.main-menu>ul>li
{
    height: 100%;
    width: fit-content;
    cursor: pointer;
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    align-items: center;
}
.main-menu>ul>li>a
{
    text-decoration: none;
    color: #443178;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}
.main-menu>ul>li:nth-child(8) a>i
{
    padding: 15px;
    background: #443178;
    color: white;
    border-radius: 50%;
}
.main-menu>ul>li::before
{
    content: "";
    background: #7BEFB1;
    height: 10px;
    top: -50%;
    left: 0;
    position: absolute;
    width: 0%;
    
}
.main-menu>ul>li:hover::before
{
    width: 100%;
    transition: all 1s;
}
.main-menu>ul> .active::before
{
    content: "";
    background: #7BEFB1;
    width: 100%;
    height: 10px;
    top: -50%;
    left: 0;
}
.main-menu>ul>li:hover .dropdown
{
    visibility: visible;
}
.dropdown
{
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 230px;
    background: #443178;
    padding: 10px 0;
    visibility: hidden;
    z-index: 2;
}
.dropdown>li
{
    border-left: 10px solid #7BEFB1;
    padding: 10px 10px 10px 40px;
    transform: translateX(-4.5%);
}
.dropdown>li:hover
{
    transform: translateX(0%);
    transition: all .5s;
}
.dropdown>li>a
{
    
    color: white;
    text-decoration: none;
}
.dropdown>li:hover a
{
    color: #7BEFB1;
    transition: color .3s;
}
.info
{
    display: grid;
    grid-template-columns: 30% 70%;
    background: #7BEFB1;
    color: #443178;
}
.info>i
{
    font-size: 3vw;
    font-weight: 300;
}
.info>p>span
{
    font-size: 1.5vw;
    font-weight: 600;
}
.info:hover
{
    background: #443178;
    transition:all .5s;
}
.info:hover i
{
    
    color: #7BEFB1; 
    
}
.info:hover p
{
    color: lightgray;
}
.info:hover p>span
{
    color: white;
}
/* ----------- */

/* page-info css */

.page-info
{
    position: relative;
    width: 100%;
    height: 15vh;
    background: #443178;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}
.page-info>h1
{
    color: #7BEFB1;
}
.page-info>ul
{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.page-info>ul>li
{
    color: lightgray;
}
.page-info>ul>li:nth-child(1)
{
    color: white;
}
.page-info>img
{
    position: absolute;
    left: 47%;
    top: 80%;

}
/* --------- */
/* contact-info css */

.contact-info
{
    width: 100%;
    height: 35vh;
    display: grid;
    grid-template-columns:85%; 
    grid-template-rows: 40%;
    align-content: center;
    justify-content: center;

}
.contact-info-inner
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 100%;
    align-items: center;
    justify-content: space-between;
}
.contact-info-box
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.contact-info-box>i
{
    text-align: center;
    border-radius: 50%;
    color: white;
    padding: 20px;
    background: #443178;
}
.contact-info-box>p>span
{
    font-weight: 600;
    font-size: 2em;
    color: #443178;
}
.contact-info>p
{
    color: #aaaaaa;
    padding-left: 5%;
}
.contact-form
{
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 70% 20% 10%;
    align-content: center;
    justify-content: center;
}
.contact-form-inner
{
    background: #7BEFB1;
    padding: 2% 5%;
}
.contact-form-inner>h2
{
    color: #443178;
}
.contact-form-inner>form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    height: 90%;
}
.contact-form-inner>form input
{
    background: #443178;
    border: none;
    outline: none;
    width: 49%;
    height: 40px;
}
.contact-form-inner>form input::placeholder
{
    padding-left: 2%;
    color: white;
}
.contact-form-inner>form select
{
    background: #443178;
    border: none;
    outline: none;
    width: 49%;
    height: 40px;
    color: white;
}
.contact-form-inner>form select>option
{
    background: white;
    color: black;
}
.contact-form-inner>form textarea
{
    background: #443178;
    border: none;
    outline: none;
    width: 100%;
    height: 50%;
}
.contact-form-inner>form textarea::placeholder
{
    padding: 2%;
    color: white;
}
.contact-form-inner>form input[type="submit"]
{
    border: 2px solid #443178;
    color: white;
    width: 80px;
}
.contact-form-inner>form input[type="submit"]:hover
{
    background: #7BEFB1;
    transition: all .5s;
}
.call
{
    width: 100%;
    height: 100%;
    background: #443178;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call>p
{
    font-size: 1.8vw;
    color: white;
    text-align: center;
}
.call>p>i
{
    color: #443178;
    background: white;
    padding: 10px 12px;
    border-radius: 50%;
}
.call:hover p
{
   letter-spacing: .2em;
   transition: all .5s;
   transition-delay: .2s;
}
/* -------- */

/* footer css */

.footer
{
    width:100%;
    height:40vh;
    display: grid;
    grid-template-rows: 50% 50%;
}
.footer-top
{
    background: #7BEFB1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-top>img
{
   width: 15%;
   height: 40%;
}
.footer-top>ul
{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.footer-top>ul>li
{
    padding: 10px 10px;
}
.footer-top>ul>li:hover
{
    background: #443178;
    transition: all .5s;
}
.footer-top>ul>li>a
{
    text-decoration: none;
    color: #443178;
    font-weight: 500;
}
.footer-top>ul>li:hover a
{
    color: white;
    transition: all .5s;
}
.footer-bottom
{
    
    background: #443178;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.footer-bottom>p
{
    color: white;
}
.footer-bottom>ul
{
    display: flex;
    justify-content: space-around;
    width: 15%;
}
.footer-bottom>ul>li>a>i
{
    text-align: center;
    line-height: 2.3;
    color: white;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    border: 2px solid #7BEFB1;
    border-radius: 50%;
}
.footer-bottom>ul>li>a>i:hover
{
    background: #7BEFB1;
    transition: all .5s;
    color: #443178;
}




